{% extends 'base.html.twig' %}
{% block body %}

    <ul>
    {% if  searchFilms is not  empty  %}
        {% for film in searchFilms %}
            <li>
                <a href="/films/show?id={{ film.id }}">
                    {{ film.title}}
                </a>
                <a href="delete?id={{ film.id }}">X</a>
            </li>
        {% endfor %}
    {% endif %}
    </ul>

    <table class="films">
        {% for film in films %}
            <tr>
                <td><a href="/films/show?id={{ film.id }}">
                    {{ film.title|e }}
                </a></td>
               <td> <a href="delete?id={{ film.id }}" class="delete">X</a></td>

            </tr>
        {% endfor %}
    </table>
    {% if pages is not empty and pages !=0 %}
        <ul class="pages">
            {% for page in 1..pages %}
                <li>
                    <a href="/films/list?page={{ page }}">
                        {{ page}}
                    </a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}

{% endblock %}
